
.Bukti {
  /* background: -webkit-linear-gradient(to left, #ff8c84, #fbd786, #fae6cc); */
  /* background: linear-gradient(to left, #ff8c84, #fbd786, #fae6cc); */
  min-height: 100vmin;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('/public/bg2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 80vmin;
}

.App-header {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: calc(25px);
  font-family: 'trispace', sans-serif;
}

.App-Isi {
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: calc(12px);
  font-family: 'trispace', sans-serif;
}

.nama {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: calc(30px);
  font-family: 'Smooch', cursive;
  color:#d57c5c
}

.tanggal {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: calc(12px);
  font-family: 'trispace', sans-serif;
}

.waktu {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: calc(12px);
  font-family: 'trispace', sans-serif;
}

.rsvp{
  text-align: right;
  font-family: 'trispace', sans-serif;
  font-size: calc(20px);
  margin-right: 50px;
}

.namaundangan{
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: calc(12px);
  font-family: 'trispace', sans-serif;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
