
.App {
  /* background: -webkit-linear-gradient(to left, #ff8c84, #fbd786, #fae6cc); */
  /* background: linear-gradient(to left, #ff8c84, #fbd786, #fae6cc); */
  min-height: 110vmin;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('/public/BG.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.App-header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: calc(50px);
  font-family: 'trispace', sans-serif;
}

.App-Isi {
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: calc(20px);
  font-family: 'trispace', sans-serif;
}

.nama {
  margin-top: 0px;
  margin-bottom: -10px;
  font-size: calc(40px);
  font-family: 'Smooch', cursive;
  color:#d57c5c
}

.tanggal {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: calc(20px);
  font-family: 'trispace', sans-serif;
}

.waktu {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: calc(20px);
  font-family: 'trispace', sans-serif;
}

.rsvp{
  text-align: center;
  font-family: 'trispace', sans-serif;
  font-size: calc(20px);
  margin-right: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
